.body {
    background-color: beige;
    background-image: url(img/5192479.jpg);
}


.cabecario {
    text-align: center;
    /* background-color: red;*/
    font-size: 40px;
    color: white
}

.textoprincipal {
    text-align: center;
    color: white;

}

.link {
    color: white;

}